@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-action="PostUser" asp-controller="User" method="post">
        <input type="text" name="Id" />
        <input type="text" name="Name" />
        <input type="text" name="LastName" />
        <input type="text" name="UserName" />
        <button type="submit"></button>

    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
